.join-postit2 h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.join-postit2 {
  text-align: center;
  margin-top: 20px;
}
.join-postit p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}
.signup-form1 {
  background-color: white;
  padding: 10px;
  margin: 55px;
  border: 2px solid #888;
  width: 60vh;
  height: 85vh;

}

.bod-w1 {
    width: 50%;
    border: none;
    border-bottom: 1px solid #888;
    
  }

  .sign-up {
    display: flex;
    justify-content: center;
    background-color: #888;
  }

  .signup-1 {
    margin: auto;
    text-align: center;
  }

  .existing-account-1 {
    margin-top: 50px;
    text-align: center;
  }

  .existing-account-1 a {
    text-decoration: none;
  }

  .signup-button {
    border: none;
    margin-top: 50px;
    width: 30%;
    height: 40px;
    border-radius: 5px;
    background-color: #0086B0;
    color: white;
  } 
  
  .signup-2 {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 400px) {
    .signup-form1 {
      background-color: none;
      margin: 30px;
      width: 100%;
      height: 100%;
      border: none;
    }
    .sign-up {
      background-color: white;
      width: 100%;
      height: 100%;
     
    }
    .bod-w1 {
      width: 80%;
      border-bottom: 1px solid #888;
    }
   
  }
  