.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-left: 5%; 
    width: 90%;
}
.ham {
    display: none !important; 
}
.bar {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px; 
}
.bar1 {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px; 
}
.sTories {
    display: flex;
    text-decoration: none;
    color: #292929;
}
.sTories1 {
    display: flex;
    text-decoration: none;
    color: #292929;
}
.sTories2 {
    display: flex;
    text-decoration: none;  
}
.sTories2-btn {
    border: none;
    background: #0086B0;
    width: 132px;
    border-radius: 8px;
    height: 33px;
    color: #FFFBFB;
    margin-bottom: 5px;
}



 @media only screen and (max-width: 768px) {
    .nav {
        display: flex;
        justify-content: space-between;
        height: 70px;  
        max-width: auto; 
    }
    .postit2  {
        justify-content: space-between;
        align-items: center;
        display: flex;
        width: 768px;
        margin-top: 10px;
    }
    .bar {
        display: none
    } 
    .ham {
        display: flex !important;
    }
 } 
 @media screen and (max-width: 400px) {
    .nav {
        display: flex;
        justify-content: space-between;
        height: 70px;  
        max-width: auto; 
    }
 .postit2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-top: 10px;
}
.ham {
    display: flex !important;  
}
.bar {
    display: none
}
 }
  